<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../scripts/chat.js" defer></script>
    <link rel="stylesheet" href="../assets/styles/index.css">
    <style>
      .ref-chatContent {
        min-height: 180px;
        border: 1px solid #333;
      }
      .ref-chatInput {
        display: block;
        width: 100%;
        margin-top: 16px;
      }
    </style>
  </head>
  <body>
    <header>
      <h1>DevMaster</h1>
      <h2>chat</h2>
    </header>
    <main class="content">
      <div class="ref ref-chatContent"></div>
      <textarea class="ref ref-chatInput"></textarea>
    </main>
  </body>
</html>