<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="../scripts/popup.js" defer></script>
  <link rel="stylesheet" href="../assets/styles/index.css">
  <link rel="stylesheet" href="../assets/styles/popup.css">
</head>
<body>
  <header>
    <h2>WebDev Master</h2>
  </header>

  <p>有钱有闲早日退休</p>

  <button class="ref ref-btnOpenSidepanel">打开侧边栏</button>

  <ul>
    <li><a href="chat.html" target="_blank">chat</a></li>
  </ul>

  <footer class="nowrap">
    @ 2023 Frank
    - <a href="options.html" target="_blank">扩展程序选项</a>
    - <a href="https://github.com/bangbangde" target="_blank">Github</a>
  </footer>
</body>
</html>
